<!-- Information -->
<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>dashboard</mat-icon>
    <mat-card-title>Dashboard</mat-card-title>
    <mat-card-subtitle>COD API</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
</mat-card>

<!-- Login -->
<mat-card *ngIf="!isLoggedIn()" style="margin-top: 16px;">
  <mat-card-header>
    <mat-icon mat-card-avatar>lock</mat-icon>
    <mat-card-title>Login</mat-card-title>
    <mat-card-subtitle>COD API</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="login()">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput type="text" [formControl]="username">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" [formControl]="password">
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary">Log in</button>
    </form>
  </mat-card-content>
</mat-card>

<!-- Content -->
<mat-card *ngIf="isLoggedIn()" style="margin-top: 16px;">
  <mat-card-header>
    <mat-icon mat-card-avatar>source</mat-icon>
    <mat-card-title>Content</mat-card-title>
    <mat-card-subtitle>COD API</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="column">
        <mat-form-field [appearance]="appearance" [color]="color" class="form-field">
          <mat-label>Player</mat-label>
          <mat-select name="player" [(ngModel)]="player">
            <mat-option *ngFor="let player of players" [value]="player">
              {{player.username}} ({{player.platform}})
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="column">
        <mat-form-field [appearance]="appearance" [color]="color" class="form-field">
          <mat-label>Game</mat-label>
          <mat-select name="game" [(ngModel)]="game">
            <mat-option *ngFor="let game of games" [value]="game">{{game}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="column">
        <mat-form-field [appearance]="appearance" [color]="color" class="form-field">
          <mat-label>Game Type</mat-label>
          <mat-select name="gameType" [(ngModel)]="gameType">
            <mat-option *ngFor="let type of gameTypes" [value]="type">{{type}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row button-row">
      <div class="column">
        <button mat-flat-button color="accent" (click)="getLeaderBoard()">Leaderboard</button>
      </div>
      <div class="column">
        <button mat-flat-button color="accent" (click)="getProfile()">Profile</button>
      </div>
      <div class="column">
        <button mat-flat-button color="accent" (click)="getMatches()">Matches</button>
      </div>
      <div class="column">
        <button mat-flat-button color="accent" (click)="getSettings()">Settings</button>
      </div>
      <div class="column">
        <button mat-flat-button color="accent" (click)="getMatchAnalysis()">Match Analysis</button>
      </div>
      <div class="column">
        <button mat-flat-button color="accent" (click)="getFriends()">Friends</button>
      </div>
      <div class="column">
        <button mat-flat-button color="accent" (click)="getFriendFeed()">Friend Feed</button>
      </div>
      <div class="column">
        <button mat-flat-button color="accent" (click)="getEventFeed()">Event Feed</button>
      </div>
      <div class="column">
        <button mat-flat-button color="accent" (click)="getMaps()">Maps</button>
      </div>
      <div class="column">
        <button mat-flat-button color="accent" (click)="getLoot()">Loot</button>
      </div>
      <div class="column">
        <button mat-flat-button color="accent" (click)="getIdentity()">Identity</button>
      </div>
      <div class="column">
        <button mat-flat-button color="accent" (click)="getAccounts()">Accounts</button>
      </div>
      <div class="column">
        <button mat-flat-button color="accent" (click)="getInfo()">Info</button>
      </div>
      <div class="column">
        <button mat-flat-button color="accent" (click)="getBattlepassInfo()">Battlepass Info</button>
      </div>
      <div class="column">
        <button mat-flat-button color="accent" (click)="getBattlepassLoot()">Battlepass Loot</button>
      </div>
      <div class="column">
        <button mat-flat-button color="accent" (click)="getCodPoints()">COD Points</button>
      </div>
      <div class="column">
        <button mat-flat-button color="accent" (click)="getPresence()">Presence</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- Result -->
<mat-card *ngIf="isLoggedIn()" style="margin-top: 16px;">
  <mat-card-header>
    <mat-icon mat-card-avatar>info</mat-icon>
    <mat-card-title>{{resultTitle}}</mat-card-title>
    <mat-card-subtitle>COD API</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{content}}
  </mat-card-content>
</mat-card>