<!-- Information -->
<div class="row">
    <mat-card>
        <mat-card-content>
            <mat-list role="list">
                <mat-list-item role="listitem">
                    csrfToken: {{csrfToken()}}
                </mat-list-item>
                <mat-list-item role="listitem">
                    ssoToken: {{ssoToken()}}
                </mat-list-item>
                <mat-list-item role="listitem">
                    atknToken: {{atknToken()}}
                </mat-list-item>
              </mat-list>
        </mat-card-content>
    </mat-card>
</div>

<!-- Content -->
<div class="row">
    <app-cod-api-login *ngIf="!isLoggedIn()"></app-cod-api-login>
    <app-cod-api-content *ngIf="isLoggedIn()"></app-cod-api-content>
</div>