<!-- Information -->
<mat-card>
    <mat-card-content>
        <mat-list role="list">
            <mat-list-item role="listitem">
                rtknToken: {{rtknToken()}}
            </mat-list-item>
            <mat-list-item role="listitem">
                atknToken: {{atknToken()}}
            </mat-list-item>
            <mat-list-item role="listitem">
                ssoCookie: {{ssoCookie()}}
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<!-- Content -->
<app-cod-api-login *ngIf="!isLoggedIn()"></app-cod-api-login>
<app-cod-api-content *ngIf="isLoggedIn()"></app-cod-api-content>