.dynamic-table-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 2rem;

  // filter
  & .dynamic-table-filter {
    display: flex;

    & .filter-panel {
      width: 100%;
      border-radius: 8px;

      & mat-form-field {
        width: 100%;
      }

      & mat-expansion-panel-header {
        height: auto;
        padding: 0;
      }

      & ::ng-deep .mat-expansion-panel-body {
        padding: 0 0 16px;
      }

      & .filter-panel-header-content {
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding: 0;
        color: rgba(0, 0, 0, 0.87) !important;

        & .filter-panel-search {
          display: flex;
          flex-grow: 1;
        }
      }

      & .filter-panel-dropdown-content {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: space-between;

        & .filter-panel-dropdown-grid {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
          grid-gap: 16px;
          width: 100%;

          & .empty {
            display: none;
          }
        }
      }
    }
  }

  // table
  & .dynamic-table-table {
    width: 100%;
    overflow: auto;

    & mat-cell,
    & mat-header-cell,
    & mat-footer-cell {
      padding: 0 1rem;
    }

    // selecting
    & .dynamic-table-select-header,
    & .dynamic-table-select-cell,
    & .dynamic-table-select-footer {
      max-width: min-content;
      padding-right: 24px !important;

      & .checkbox-hidden {
        opacity: 0;
      }
    }

    & .dynamic-table-select-header {
      & .mat-checkbox-checked,
      & .mat-checkbox-indeterminate {
        & ::ng-deep .mat-checkbox-background {
          background-color: #ebf6ff;
        }
      }
    }

    // table rows
    & .dynamic-table-row {
      & .dynamic-table-cell {
        display: flex;
        flex-grow: 1;

        & img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          margin-top: 4px;
        }
      }

      & .dynamic-table-cell-buttons {
        padding-right: 8px;
      }
    }

    & .dynamic-table-row:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.04);
    }

    & .dynamic-table-row-even {
      background-color: #fff;
    }
    & .dynamic-table-row-odd {
      background-color: #ebf6ff;
    }

    // empty row
    & .dynamic-table-row-empty {
      min-height: 0;
      border: 0;

      & .checkbox-hidden {
        display: none;
      }
    }

    // no data row
    & .dynamic-table-row-no-data {
      display: flex;
      align-items: center;
      position: relative;
      min-height: 48px;
      overflow: hidden;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);

      & .mat-cell {
        flex: 1;
        display: flex;
        align-items: center;
        overflow: hidden;
        word-wrap: break-word;
        min-height: inherit;
        padding-left: 24px;
      }
    }
  }
}
