<div [formGroup]="form">
  <!-- Form styling -->
  <div *ngIf="isFormFieldControl" class="dynamic-form-control">
    <mat-form-field
      [id]="'form-field-' + control.key"
      [appearance]="appearance"
      [color]="color"
      [floatLabel]="control.floatLabel"
      [ngSwitch]="control.controlType"
    >
      <!-- Label -->
      <mat-label [attr.for]="control.key">
        {{ control.label }}
      </mat-label>

      <!-- Text -->
      <input
        matInput
        *ngSwitchCase="'text'"
        [formControlName]="control.key"
        [id]="control.key"
        [type]="control.inputType"
      />

      <!-- Text area -->
      <textarea
        matInput
        *ngSwitchCase="'textarea'"
        [formControlName]="control.key"
        [id]="control.key"
      ></textarea>

      <!-- Select -->
      <mat-select
        *ngSwitchCase="'dropdown'"
        [formControlName]="control.key"
        [id]="control.key"
      >
        <mat-option *ngFor="let option of control.options" [value]="option.key">
          {{ option.value }}
        </mat-option>
      </mat-select>

      <!-- Date -->
      <input
        matInput
        *ngSwitchCase="'date'"
        [formControlName]="control.key"
        [id]="control.key"
        [matDatepicker]="datePicker"
      />
      <mat-datepicker-toggle
        *ngSwitchCase="'date'"
        matSuffix
        [for]="datePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker touchUi #datePicker></mat-datepicker>

      <!-- Date range -->
      <mat-date-range-input
        *ngSwitchCase="'date-range'"
        [formGroup]="dateRange"
        [rangePicker]="dateRangePicker"
      >
        <input
          matStartDate
          placeholder="Start"
          formControlName="start"
          (dateChange)="setDateRange()"
        />
        <input
          matEndDate
          placeholder="Eind"
          formControlName="end"
          (dateChange)="setDateRange()"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle
        *ngSwitchCase="'date-range'"
        matSuffix
        [for]="dateRangePicker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker touchUi #dateRangePicker></mat-date-range-picker>

      <!-- Chips -->
      <mat-chip-list
        *ngSwitchCase="'chips'"
        [formControlName]="control.key"
        [id]="control.key"
        #chipList
      >
        <mat-chip
          *ngFor="let item of control.value"
          [selectable]="control.selectable"
          [removable]="control.removable"
          (removed)="removeFromValue(item)"
        >
          {{ item }}
          <mat-icon matChipRemove *ngIf="control.removable">cancel</mat-icon>
        </mat-chip>
        <input
          #chipInput
          [placeholder]="control.placeholder"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="control.addOnBlur"
          (matChipInputTokenEnd)="addToValue($event.value); chipInput.value = ''"
        />
      </mat-chip-list>

      <!-- Error -->
      <mat-error *ngIf="!isValid">
        {{ errorMessage }}
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Non form fields -->
  <div *ngIf="!isFormFieldControl" class="dynamic-form-control">
    <!-- Label -->
    <label
      class="dynamic-form-label"
      [class.show-error]="!isValid && isTouched"
      [attr.for]="control.key"
    >
      {{ control.label }}
    </label>

    <div [ngSwitch]="control.controlType" class="no-form-field">
      <!-- Radio -->
      <mat-radio-group
        *ngSwitchCase="'radio'"
        [id]="control.key"
        [color]="color"
        [formControlName]="control.key"
        [required]="isRequired"
      >
        <mat-radio-button
          *ngFor="let option of control.options"
          [value]="option.key"
        >
          {{ option.value }}
        </mat-radio-button>
      </mat-radio-group>

      <!-- Checkbox -->
      <mat-checkbox
        *ngSwitchCase="'checkbox'"
        [id]="control.key"
        [color]="color"
        [formControlName]="control.key"
        [labelPosition]="control.labelPosition"
        [indeterminate]="control.indeterminate"
        [required]="isRequired"
        (change)="markAsTouched()"
      >
        {{ control.placeholder }}
      </mat-checkbox>

      <!-- Slide -->
      <mat-slide-toggle
        *ngSwitchCase="'slide'"
        [id]="control.key"
        [color]="color"
        [formControlName]="control.key"
        [labelPosition]="control.labelPosition"
        [checked]="control.value"
        [required]="isRequired"
        (change)="markAsTouched()"
      >
        {{ control.placeholder }}
      </mat-slide-toggle>

      <!-- Error -->
      <mat-error class="form-control-error">
        <span
          [@errorAnimation]
          *ngIf="!isValid && isTouched"
          class="error-message"
        >
          {{ errorMessage }}
        </span>
      </mat-error>
    </div>
  </div>
</div>
