.dynamic-form-control {
  margin-bottom: 8px;

  & mat-form-field {
    width: 100%;
  }

  & .dynamic-form-control-label {
    color: rgba(0, 0, 0, 0.54) !important;
  }

  & .dynamic-form-control-label-small {
    font-size: 12px;
  }

  & .dynamic-form-control-input,
  & ::ng-deep .mat-radio-label-content,
  & ::ng-deep .mat-select-disabled .mat-select-value {
    color: rgba(0, 0, 0, 0.87) !important;
  }

  & .dynamic-form-control-chip {
    opacity: 1 !important;
  }

  & .dynamic-form-label.show-error {
    color: #f44336;
  }

  & .remove-chip-button {
    height: 28px;
    width: 28px;
    margin-left: 4px;
  }

  & .no-form-field {
    margin-top: 4px;

    & .mat-radio-button ~ .mat-radio-button {
      margin-left: 16px;
    }

    & .form-control-error {
      font-weight: 400;
      font-size: 75%;
      min-height: 2em;
      padding-top: 0.25em;

      & span {
        display: flex;
        padding-left: 1em;
        padding-top: 0.33em;
      }
    }
  }
}

.dynamic-form-control-non-form-field {
  & label,
  & mat-radio-group,
  & mat-checkbox,
  & mat-slide-toggle {
    padding: 0.75em;
  }
}

.dynamic-form-control-autocomplete-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 48px;

  & .dynamic-form-control-autocomplete-option-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
  }
}
