<!-- Container -->
<div class="dynamic-table-container">
  <!-- Loader row -->
  <div class="dynamic-table-loading-row" *ngIf="tableConfig.loader && isLoadingResults">
    <mat-spinner [color]="tableConfig.loaderColor"></mat-spinner>
  </div>
  <!-- Table row -->
  <div class="dynamic-table-table-row" *ngIf="!isLoadingResults">
    <!-- Filter -->
    <div class="dynamic-table-filter" *ngIf="tableConfig.filter">
      <mat-form-field [appearance]="tableConfig.filterAppearance" [color]="tableConfig.filterColor">
        <mat-label>{{tableConfig.filterLabel}}</mat-label>
        <input matInput (keyup)="applyFilter($event)" [placeholder]="tableConfig.filterPlaceholder" #filterInput>
      </mat-form-field>
    </div>
    <!-- Table -->
    <div class="dynamic-table-table" [ngClass]="tableConfig.tableClass || ''">
      <!-- Table -->
      <mat-table [dataSource]="dataSource" matSort [matSortActive]="tableConfig.activeSortField || ''"
        [matSortDirection]="tableConfig.activeSortDirection || ''" cdkDropList [cdkDropListData]="columnsToDisplay"
        cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)" multiTemplateDataRows>

        <!-- Select row column -->
        <ng-container matColumnDef="selectRowColumn" sticky>
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef>
          </mat-footer-cell>
        </ng-container>

        <!-- Select row footer column -->
        <ng-container matColumnDef="selectFooterColumn">
          <mat-footer-cell *matFooterCellDef>
            <div class="dynamic-table-row-expandable-content"
              [@expandRow]="tableConfig.selectableRows ? 'expanded' : 'collapsed'">
              {{selectedRowCount()}} rows selected
            </div>
          </mat-footer-cell>
        </ng-container>

        <!-- Regular columns -->
        <ng-container matColumnDef="{{column.field}}" [sticky]="column.sticky === 'start'"
          [stickyEnd]="column.sticky === 'end'" *ngFor="let column of columnRegular">
          <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!column.sortable" cdkDragLockAxis="x" cdkDrag
            [cdkDragData]="column.field" [cdkDragDisabled]="!column.draggable" class="dynamic-tables-sort-header">
            <mat-icon cdkDragHandle *ngIf="column.draggable" class="dynamic-table-draghandle-column">
              drag_handle
            </mat-icon>
            {{column.header}}
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row[column.field]}}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef>
            {{column.footer}}
          </mat-footer-cell>
        </ng-container>

        <!-- Expandable columns -->
        <ng-container matColumnDef="{{column.field}}" *ngFor="let column of columnExpendable">
          <mat-cell *matCellDef="let row">
            <div class="dynamic-table-row-expandable-content"
              [@expandRow]="row == expandedRow ? 'expanded' : 'collapsed'">
              {{row[column.field]}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- Header row definition -->
        <mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: tableConfig.stickyHeaders">
        </mat-header-row>
        <!-- Content row definition -->
        <mat-row mat-ripple *matRowDef="let row; columns: columnsToDisplay;" class="dynamic-table-row"
          [class.dynamic-table-row-expanded]="expandedRow === row" (click)="expandRow(row)">
        </mat-row>
        <!-- Expandable row definition -->
        <mat-row *matRowDef="let row; columns: columnsToDisplayExpandable" class="dynamic-table-row-expandable">
        </mat-row>
        <!-- Footer row definition -->
        <mat-footer-row *matFooterRowDef="columnsToDisplay; sticky: tableConfig.stickyFooters"
          class="dynamic-table-row dynamic-table-row-expandable" [class.expanded]="!allColumnFootersEmpty()">
        </mat-footer-row>
        <!-- Select footer row definition -->
        <mat-footer-row *matFooterRowDef="['selectFooterColumn']" class="dynamic-table-row dynamic-table-row-expandable"
          [class.expanded]="tableConfig.selectableRows">
        </mat-footer-row>

        <!-- Row shown when there is no matching data. -->
        <div class="dynamic-table-row-no-data" *matNoDataRow>
          <div class="mat-cell">No data to display</div>
        </div>

      </mat-table>

      <mat-paginator *ngIf="tableConfig.pagination" [pageSizeOptions]="tableConfig.paginationSizeOptions"
        [pageSize]="tableConfig.paginationSizeDefault">
      </mat-paginator>
    </div>
  </div>

</div>