<form *ngIf="form" [formGroup]="form" class="dynamic-form-container">
  <div
    class="dynamic-form-control-container"
    *ngFor="let formControl of formControls"
    [ngClass]="formControl.controlType"
  >
    <app-dynamic-form-control
      #dynamicFormControl
      [ngClass]="formControl.cssClass"
      [appearance]="formAppearance"
      [color]="formColor"
      [control]="formControl"
      [form]="form"
      (formControlValueChange)="handleControlValueChange($event)"
    >
    </app-dynamic-form-control>
  </div>
</form>
