<div [formGroup]="form">
  <div class="dynamic-form-control">
    <mat-form-field
      [id]="'form-field-' + control.key"
      [appearance]="appearance"
      [color]="color"
      [floatLabel]="control.floatLabel"
    >
      <!-- Label -->
      <mat-label [attr.for]="control.key" class="dynamic-form-control-label">
        {{ control.label }}
      </mat-label>

      <!-- Select -->
      <mat-select
        [formControlName]="control.key"
        [id]="control.key"
        [required]="isRequired"
        class="dynamic-form-control-input"
      >
        <mat-option
          *ngFor="let option of control.options"
          [value]="option.value"
        >
          {{ option.label }}
        </mat-option>
      </mat-select>

      <!-- Error -->
      <mat-error *ngIf="!isValid && isTouched">
        {{ errorMessage }}
      </mat-error>
    </mat-form-field>
  </div>
</div>
