<div [formGroup]="form">
  <div class="dynamic-form-control">
    <mat-form-field
      [id]="'form-field-' + control.key"
      [appearance]="appearance"
      [color]="color"
      [floatLabel]="control.floatLabel"
    >
      <!-- Label -->
      <mat-label [attr.for]="control.key" class="dynamic-form-control-label">
        {{ control.label }}
      </mat-label>

      <!-- Chips -->
      <mat-chip-list
        [formControlName]="control.key"
        [id]="control.key"
        [required]="isRequired"
        class="dynamic-form-control-input"
        #chipList
      >
        <mat-chip
          *ngFor="let selectedAutocompleteOption of selectedAutocompleteOptions"
          [selectable]="control.selectable"
          [removable]="control.removable"
          (removed)="removeSelectedAutocompleteOption(selectedAutocompleteOption)"
          class="dynamic-form-control-chip"
        >
          <mat-chip-avatar *ngIf="selectedAutocompleteOption.image">
            <img
              class="chip-image"
              [alt]="selectedAutocompleteOption.value"
              [src]="selectedAutocompleteOption.image"
            />
          </mat-chip-avatar>
          {{ selectedAutocompleteOption.label }}
          <button
            *ngIf="!control.disabled"
            matChipRemove
            (click)="removeSelectedAutocompleteOption(selectedAutocompleteOption)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-chip>
        <input
          #chipInput
          [formControl]="chipControl"
          [placeholder]="control.placeholder"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="control.addOnBlur"
          [matAutocomplete]="autoCompChips"
          (matChipInputTokenEnd)="chipInput.value = ''"
          class="dynamic-form-control-input"
        />
      </mat-chip-list>
      <mat-autocomplete
        #autoCompChips="matAutocomplete"
        (optionSelected)="addSelectedAutocompleteOption($event.option.value)"
      >
        <mat-option
          *ngFor="let option of filteredAutocompleteOptions | async"
          [value]="option"
        >
          <div class="dynamic-form-control-autocomplete-option">
            <div
              *ngIf="option.image"
              class="dynamic-form-control-autocomplete-option-img"
            >
              <img
                [alt]="option.value"
                [src]="option.image"
                width="27"
                height="27"
                style="border-radius: 27px"
              />
            </div>
            {{ option.label }}
          </div>
        </mat-option>
      </mat-autocomplete>

      <!-- Error -->
      <mat-error *ngIf="!isValid && isTouched">
        {{ errorMessage }}
      </mat-error>
    </mat-form-field>
  </div>
</div>
