<!-- Dynamic forms -->
<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>edit</mat-icon>
    <mat-card-title>Dynamic forms</mat-card-title>
    <mat-card-subtitle>Module</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-dynamic-form
      #dynamicForm
      *ngIf="formControls"
      [formControls]="formControls"
      [(formModel)]="model"
    >
    </app-dynamic-form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="toggleDisabled()">Toggle disabled</button>
    <button mat-button (click)="logElement()">Log model</button>
  </mat-card-actions>
</mat-card>
