<div class="content-wrapper">
  <!-- Dynamic table -->
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar>edit</mat-icon>
      <mat-card-title>Dynamic tables</mat-card-title>
      <mat-card-subtitle>Module</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- Dynamic table options -->
      <form #form="ngForm">
        <mat-form-field [appearance]="tableConfig.filterAppearance" [color]="tableConfig.filterColor"
          class="form-field">
          <mat-label>Filter appearance</mat-label>
          <mat-select name="filterAppearance" [(ngModel)]="tableConfig.filterAppearance">
            <mat-option *ngFor="let option of appearanceOptions" [value]="option">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field [appearance]="tableConfig.filterAppearance" [color]="tableConfig.filterColor"
          class="form-field">
          <mat-label>ScrollY</mat-label>
          <input matInput name="scrollY" [(ngModel)]="tableConfig.scrollY">
        </mat-form-field>
        <mat-form-field [appearance]="tableConfig.filterAppearance" [color]="tableConfig.filterColor"
          class="form-field">
          <mat-label>ScrollX</mat-label>
          <input matInput name="scrollX" [(ngModel)]="tableConfig.scrollX">
        </mat-form-field>

        <mat-slide-toggle name="filter" [(ngModel)]="tableConfig.filter">
          Filter
        </mat-slide-toggle>
        <mat-slide-toggle name="paging" [(ngModel)]="tableConfig.paging" (change)="renderTable()">
          Pagination
        </mat-slide-toggle>
        <mat-slide-toggle name="sorting" [(ngModel)]="tableConfig.sorting">
          Sortable columns
        </mat-slide-toggle>
        <mat-slide-toggle name="dragging" [(ngModel)]="tableConfig.dragging">
          Draggable columns
        </mat-slide-toggle>
        <mat-slide-toggle name="selecting" [(ngModel)]="tableConfig.selecting" (change)="renderTable()">
          Selectable Rows
        </mat-slide-toggle>
        <mat-slide-toggle name="expanding" [(ngModel)]="tableConfig.expanding">
          Expandable Rows
        </mat-slide-toggle>
      </form>

      <!-- Dynamic table outlet -->
      <div style="margin-top: 24px;">
        <ng-container #outlet>
        </ng-container>
      </div>

      <!-- Dynamic table template -->
      <ng-template #content>
        <app-dynamic-table [tableConfig]="tableConfig" [columnConfig]="columnConfig" [data]="(data$ | async)!"
          (selectionChange)="handleSelectionChangeEvent($event)" (buttonClick)="handleButtonClickEvent($event)">
        </app-dynamic-table>
      </ng-template>

    </mat-card-content>
  </mat-card>
</div>