<div class="content-wrapper">
  <!-- Dynamic table -->
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar>edit</mat-icon>
      <mat-card-title>Dynamic tables</mat-card-title>
      <mat-card-subtitle>Module</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- Dynamic table options -->
      <form #form="ngForm">
        <div class="form-column">
          <mat-slide-toggle ngModel name="filter" [(ngModel)]="tableConfig.filter">
            Filter
          </mat-slide-toggle>
          <mat-slide-toggle ngModel name="pagination" [(ngModel)]="tableConfig.pagination" (change)="renderTable()">
            Pagination
          </mat-slide-toggle>
          <mat-slide-toggle ngModel name="sorting" [(ngModel)]="tableConfig.sorting">
            Sortable columns
          </mat-slide-toggle>
          <mat-slide-toggle ngModel name="dragging" [(ngModel)]="tableConfig.dragging">
            Draggable columns
          </mat-slide-toggle>
          <mat-slide-toggle ngModel name="selectableRows" [(ngModel)]="tableConfig.selectableRows"
            (change)="renderTable()">
            Selectable Rows
          </mat-slide-toggle>
          <mat-slide-toggle ngModel name="expandableRows" [(ngModel)]="tableConfig.expandableRows">
            Expandable Rows
          </mat-slide-toggle>
        </div>
      </form>

      <!-- Dynamic table outlet -->
      <div style="margin-top: 24px;">
        <ng-container #outlet>
        </ng-container>
      </div>

      <!-- Dynamic table template -->
      <ng-template #content>
        <app-dynamic-table [tableConfig]="tableConfig" [columnConfig]="columnConfig" [data]="(data$ | async)!"
          (selectionChange)="handleSelectionChangeEvent($event)" (buttonClick)="handleButtonClickEvent($event)">
        </app-dynamic-table>
      </ng-template>

    </mat-card-content>
  </mat-card>
</div>