<div class="content-wrapper">
  <!-- Dynamic table -->
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar>edit</mat-icon>
      <mat-card-title>Dynamic tables</mat-card-title>
      <mat-card-subtitle>Module</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- Dynamic table options -->

      <!-- Dynamic table -->
      <app-dynamic-table [tableConfig]="tableConfig" [columnConfig]="columnConfig" [data]="(data$ | async)!"
        (selectionChange)="handleSelectionChangeEvent($event)" (buttonClick)="handleButtonClickEvent($event)">
      </app-dynamic-table>
    </mat-card-content>
  </mat-card>
</div>